In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# Load data sets
tienda = pd.read_csv('../raw_data/DIM_TIENDA.csv')
venta = pd.read_csv('../raw_data/Venta.csv')
meta = pd.read_csv('../raw_data/Meta_venta.csv')

In [5]:
tienda.sample(5)

,TIENDA_ID,PLAZA_CVE,NIVELSOCIOECONOMICO_DES,ENTORNO_DES,MTS2VENTAS_NUM,PUERTASREFRIG_NUM,CAJONESESTACIONAMIENTO_NUM,LATITUD_NUM,LONGITUD_NUM,SEGMENTO_MAESTRO_DESC,LID_UBICACION_TIENDA,DATASET
784,622,6,C,Base,0.00,0,0,25.58502,-99.99391,Hogar Reunión,UT_TRAFICO_VEHICULAR,TRAIN
495,727,4,C,Hogar,0.00,0,0,25.64184,-100.10777,Hogar Reunión,UT_DENSIDAD,TRAIN
747,319,5,CD,Hogar,109.81,10,11,25.83017,-100.24536,Hogar Reunión,UT_TRAFICO_VEHICULAR,TRAIN
273,897,2,C,Hogar,127.00,10,11,26.05115,-98.34874,Hogar Reunión,UT_DENSIDAD,TRAIN
850,277,6,C,Receso,105.66,12,0,25.27453,-100.01677,Parada Técnica,UT_CARRETERA_GAS,TRAIN

In [6]:
venta.sample(5)

       TIENDA_ID  MES_ID  VENTA_TOTAL
18097        593  202304    849256.98
17605        509  202404    700810.68
17770        423  202403   1210420.68
11490        886  202303   1044350.98
21049         52  202307    868925.31

In [9]:
# Drop MES_ID and merge ventas with tiendas

df_raw = tienda.merge(venta, on='TIENDA_ID', how='left')
df_raw.sample(10)

,TIENDA_ID,PLAZA_CVE,NIVELSOCIOECONOMICO_DES,ENTORNO_DES,MTS2VENTAS_NUM,PUERTASREFRIG_NUM,CAJONESESTACIONAMIENTO_NUM,LATITUD_NUM,LONGITUD_NUM,SEGMENTO_MAESTRO_DESC,LID_UBICACION_TIENDA,DATASET,MES_ID,VENTA_TOTAL
13059,421,4,C,Hogar,124.98,13,11,25.65846,-100.16494,Hogar Reunión,UT_DENSIDAD,TRAIN,202309.0,2183875.48
18974,189,6,CD,Base,86.11,7,0,25.59290,-99.99295,Clásico,UT_TRAFICO_VEHICULAR,TRAIN,202312.0,870065.61
10827,812,4,C,Hogar,106.61,14,0,25.63369,-100.08873,Hogar Reunión,UT_DENSIDAD,TRAIN,202411.0,551403.04
18151,545,6,B,Base,0.00,13,0,25.59278,-100.00266,Oficinistas,UT_TRAFICO_VEHICULAR,TRAIN,202306.0,920300.50
6757,921,2,C,Receso,132.00,10,12,26.00836,-98.20679,Parada Técnica,UT_GAS_URBANA,TRAIN,202306.0,1119993.10
16021,84,6,C,Hogar,96.90,12,6,25.40713,-100.13747,Hogar Reunión,UT_DENSIDAD,TRAIN,202309.0,1534899.83
17207,686,6,C,Hogar,0.00,0,0,25.54298,-99.84019,Hogar Reunión,UT_DENSIDAD,TRAIN,202308.0,1356150.67
3034,536,1,C,Hogar,114.87,13,10,25.65810,-100.22496,Hogar Reunión,UT_DENSIDAD,TRAIN,202407.0,1042979.19
8975,413,3,C,Base,92.17,11,5,25.62891,-100.29645,Parada Técnica,UT_GAS_URBANA,TRAIN,202310.0,1251949.90
14107,368,5,C,Hogar,92.06,13,5,25.76541,-100.14872,Hogar Reunión,UT_DENSIDAD,TRAIN,202411.0,1092147.01

In [56]:
df_baking = df_raw.copy()

# Lower column names 

df_baking.columns = df_baking.columns.str.lower()
df_baking.columns

Index(['tienda_id', 'plaza_cve', 'nivelsocioeconomico_des', 'entorno_des',
       'mts2ventas_num', 'puertasrefrig_num', 'cajonesestacionamiento_num',
       'latitud_num', 'longitud_num', 'segmento_maestro_desc',
       'lid_ubicacion_tienda', 'dataset', 'mes_id', 'venta_total'],
      dtype='object')

In [57]:
df_baking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19256 entries, 0 to 19255
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tienda_id                   19256 non-null  int64
 1   plaza_cve                   19256 non-null  int64
 2   nivelsocioeconomico_des     19256 non-null  object
 3   entorno_des                 19256 non-null  object
 4   mts2ventas_num              19256 non-null  float64
 5   puertasrefrig_num           19256 non-null  int64
 6   cajonesestacionamiento_num  19256 non-null  int64
 7   latitud_num                 19256 non-null  float64
 8   longitud_num                19256 non-null  float64
 9   segmento_maestro_desc       19158 non-null  object
 10  lid_ubicacion_tienda        19256 non-null  object
 11  dataset                     19256 non-null  object
 12  mes_id                      19253 non-null  float64
 13  venta_total                 19253 non-null  float64
dtypes: float64(5), int64(4), object(5)
memory usage: 2.1+ MB

In [58]:
drop_columns = ['plaza_cve', 'dataset', 'mes_id']

df_baking = df_baking.drop(columns=drop_columns)

In [59]:
df_baking['lid_ubicacion_tienda'].value_counts()

lid_ubicacion_tienda
UT_DENSIDAD             10739
UT_TRAFICO_VEHICULAR     4338
UT_GAS_URBANA            2127
UT_CARRETERA_GAS         1153
UT_TRAFICO_PEATONAL       899
Name: count, dtype: int64

In [60]:
cat_columns = ['nivelsocioeconomico_des', 'entorno_des', 'segmento_maestro_desc', 'lid_ubicacion_tienda']

df_baking[cat_columns] = df_baking[cat_columns].astype('category')

df_baking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19256 entries, 0 to 19255
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tienda_id                   19256 non-null  int64
 1   nivelsocioeconomico_des     19256 non-null  category
 2   entorno_des                 19256 non-null  category
 3   mts2ventas_num              19256 non-null  float64
 4   puertasrefrig_num           19256 non-null  int64
 5   cajonesestacionamiento_num  19256 non-null  int64
 6   latitud_num                 19256 non-null  float64
 7   longitud_num                19256 non-null  float64
 8   segmento_maestro_desc       19158 non-null  category
 9   lid_ubicacion_tienda        19256 non-null  category
 10  venta_total                 19253 non-null  float64
dtypes: category(4), float64(4), int64(3)
memory usage: 1.1 MB

In [61]:
df_baking.isna().sum()

tienda_id                      0
nivelsocioeconomico_des        0
entorno_des                    0
mts2ventas_num                 0
puertasrefrig_num              0
cajonesestacionamiento_num     0
latitud_num                    0
longitud_num                   0
segmento_maestro_desc         98
lid_ubicacion_tienda           0
venta_total                    3
dtype: int64

In [65]:
df_baking[df_baking['venta_total'].isna()] # Can be dropped

df_baking = df_baking.dropna(subset=['venta_total'])

df_baking.isna().sum()

tienda_id                      0
nivelsocioeconomico_des        0
entorno_des                    0
mts2ventas_num                 0
puertasrefrig_num              0
cajonesestacionamiento_num     0
latitud_num                    0
longitud_num                   0
segmento_maestro_desc         97
lid_ubicacion_tienda           0
venta_total                    0
dtype: int64

In [68]:
df_baking['entorno_des']

0         Hogar
1         Hogar
2         Hogar
3         Hogar
4         Hogar
          ...
19251    Receso
19252    Receso
19253    Receso
19254    Receso
19255    Receso
Name: entorno_des, Length: 19253, dtype: category
Categories (4, object): ['Base', 'Hogar', 'Peatonal', 'Receso']

*Task*: Falta analizar los demás valores nulos y determinar si si se pueden droppear o no. Además, hay que ver si valores en *0* de las columnas referentes a las características del local (mts cuadrados, refrigeradores, cajones, etc.) pueden droppearse o ver cómo manejarlos.

In [76]:
meta = {
    'Base': 480000,
    'Hogar': 490000, 
    'Peatonal': 420000, 
    'Receso': 516000
}

df_baking['meta_objetivo'] = df_baking['entorno_des'].map(meta).astype('int')

df_baking['cumple_meta'] = df_baking['venta_total'] >= df_baking['meta_objetivo']

df_baking.head()

,tienda_id,nivelsocioeconomico_des,entorno_des,mts2ventas_num,puertasrefrig_num,cajonesestacionamiento_num,latitud_num,longitud_num,segmento_maestro_desc,lid_ubicacion_tienda,venta_total,meta_objetivo,cumple_meta
0,126,BC,Hogar,127.42,13,7,25.69107,-100.21261,Hogar Reunión,UT_DENSIDAD,78331.04,490000,False
1,126,BC,Hogar,127.42,13,7,25.69107,-100.21261,Hogar Reunión,UT_DENSIDAD,984454.29,490000,True
2,126,BC,Hogar,127.42,13,7,25.69107,-100.21261,Hogar Reunión,UT_DENSIDAD,1096866.62,490000,True
3,126,BC,Hogar,127.42,13,7,25.69107,-100.21261,Hogar Reunión,UT_DENSIDAD,775114.25,490000,True
4,126,BC,Hogar,127.42,13,7,25.69107,-100.21261,Hogar Reunión,UT_DENSIDAD,1095804.32,490000,True